<header>
  <div class="container">
    <%= link_to 'INSTA_APP', root_path, id:'logo' %>
    <nav>
      <ul class="nav pull-right nav-pills">
        <li><%= link_to 'ユーザ一覧', users_path %></li>
        <li><%= link_to 'このサイトについて', about_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
      </ul>
    </nav>
  </div>
</header>