<% @page_title = @user.name %>

<div class="container user-show-edit">
  <div class="row">
    <div class="col-md-4">
      <%= render 'partials/user_profile' %>
    </div>
    <div class="user-contents col-md-8">
      <h2>投稿画像</h2>
      <ul class="user-posts">
        <%= render @microposts %>
      </ul>
      <h2>人気の画像</h2>
      <ul class="user-posts">
        <p>user.popular_posts</p>
      </ul>
    </div>
  </div>
</div>