<main>
  <div class="container top_background">
    <%= link_to '新規登録する', "/signup", class:"btn btn-lg btn-primary center-block",id:"signup-btn"%>
    <%= link_to 'ログイン', '#',class:"btn btn-lg center-block btn-info",id:"signin-btn"%>
  </div>
</main>
