<% @page_title = "パスワード変更" %>

<div class="container user-show-edit">
  
  <div class="row">
    <div class="col-md-4">
      <%= render 'partials/password_edit' %>
    </div>
    <div class="user-contents col-md-8 opacified ">
      <div class="user-posts">
        <h2>投稿画像</h2>
        <p>user.posts</p>
      </div>
      <div class="user-posts">
        <h2>人気の画像</h2>
        <p>user.popular_posts</p>
      </div>
    </div>
  </div>
</div>