<% @page_title = "パスワード変更" %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'partials/password_edit' %>
    </div>
    <div class="user-contents col-md-8 opacified ">
    </div>
  </div>
</div>