@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import url(ress/ress.css);

@media screen and (max-width: 991px){
  .none {display:none}
}
.fa-home{
  padding: 0;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.field_with_errors{
  input{
    background-color: pink;
  }
  textarea{
    background-color: pink;
  }
}
.pagination{
  display: block;
  text-align: center;
  font-size: 15px;
  letter-spacing: 5px;
  margin: 20px auto;
  .current{
    color: yellow;
  }
}
ul{
  list-style: none;
}

a {
  color: inherit;
}
hr{
  margin:5px;
}
.alert{
  margin-bottom: 5px;
}
a:hover {
  text-decoration: none;
}
.btn{
  margin: 10px 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
.container{
  padding: 0;
}
:root{
  --content_background_color : #1C1C1C;
}

.opacified{
  opacity: 0.3;
}

.form-control{
  margin-bottom: 15px;
}
body {
  background-color: black;
  color:white;
}

header{
  border-bottom: 0.5px solid var(--content_background_color);
  margin-bottom: 5px;
  #logo{
    float: left;
    font-weight: bold;
    font-size: 1.9em;
    line-height: 60px;
  }
  nav{
    margin-top: 10px;
    font-size: 1.2em;
  }
}

main{
  .btn{
    width: 300px;
    margin: 10px auto 0px;
  }
  #signup-btn{
    margin-top: 400px;
  }
}

footer{
  border-top: 0.5px solid var(--content_background_color);
  margin-top: 5px;
  .btn{
    padding:10px 0;
  }
}
.session-maker{
  .btn{
    width: 100px;
    margin-right: 20px;
  }
}
.top_background{
  background-image: image-url('top_background.jpg');
  background-size: cover;
  height: 700px;
  opacity: 0.9;
}

.content-wrapper{
  min-height: 700px;
  padding: 10px;
  background-color: var(--content_background_color);
}

.signup-form{
  background-color: var(--content_background_color);
  width: 60%;
  padding: 30px;
  margin: 5% auto 0;
  border-radius: 10px;
}



.users-index{
  background-color: var(--content_background_color);
}

.user-view{
  padding:10px;
  border-bottom: 0.5px solid lightgray;
  .gravatar{
    float: left;
    border-radius: 50%;
    margin-right: 10px;
  }
  p{
    margin-top: 5px;
  }
}

.left-side-content{
  margin-top: 10px;
  position: relative;
  border-radius: 10px;
  padding: 20px 20px 10px;
  background-color: var(--content_background_color);
  .top-right-icon{
    position: absolute;
    top: 6px;
    right: 6px;
  }
  textarea{
    min-height: 150px;
  }
  .sex-form{
    margin-bottom: 8px;
  }
  .abstract{
    min-height: 100px;
    margin-bottom: 15px;
    position: relative;
  }
  .introduction{
    min-height: 120px;
  }
  .assets{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    a{
      display: flex;
      align-items:center;
      justify-content:center;
    }
  }
  .gravatar{
    float: left;
    border-radius: 50%;
    margin-right: 20px;
  }
  h4{
    padding: 18px 0 10px;
    border-bottom: 0.5px solid lightgray;
  }
  p{
    margin-top: 5px;
  }
}

.user-contents{
  h2{
    border-bottom: 0.5px solid lightgray;
    margin: 10px 0 10px;
    padding-bottom: 5px;
  }
}


.user-posts{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-row-gap: 3px;
  grid-column-gap: 3px;
}

.thumbs{
  position: relative;
  height: 200px;
  background-color: var(--content_background_color);
  img{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// .thumbs{
//   width: 100%;
//   height: 100%;
//   position: relative;
// }
// .thumbs::before{
//   content: "";
//   display: block;
//   padding-top: 100%;
// }
// .thumbs a{
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
// }
// .thumbs img{
//   width: 100%;
//   height: auto;
//   line-height: 0;
//   position: absolute;
//   bottom: 0;
// }

.micropost-show{
  background-color: var(--content_background_color);
  border-radius: 10px;
  padding: 5px;
}
.delete-post{
  text-align: right;
}

.micropost-content{
  min-height: 300px;
}
.img-container-large{
  position: relative;
  height: 500px;
  img{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

